*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/
app/libs/

*.apk
bin/
gen/
build/
proguard/
.navigation/
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
*.jks
google-services.json


